@import "tailwindcss";

@theme {
  --color-chrome-50: #F8F9FA;
  --color-chrome-100: #F1F3F4;
  --color-chrome-200: #E8EAED;
  --color-chrome-300: #DADCE0;
  --color-chrome-400: #BDC1C6;
  --color-chrome-500: #9AA0A6;
  --color-chrome-600: #80868B;
  --color-chrome-700: #5F6368;
  --color-chrome-800: #3C4043;
  --color-chrome-900: #202124;
  --color-chrome-blue: #7C3AED;
  --color-chrome-blue-hover: #6D28D9;
  --color-chrome-blue-light: #EDE9FE;
}
