@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-border: #dadce0;
  --accent: #7c3aed;
  --accent-hover: #6d28d9;
  --accent-dark: #a78bfa;
  --accent-light: #ede9fe;
  --accent-focus: #ddd6fe;
  --accent-darkbg: #2e1065;
}
.dark {
  --grid-border: #3c4043;
}

html.dark,
html.dark body {
  background-color: #202124;
}

.fa-secondary {
  opacity: 0.5;
}

html,
body {
  height: fit-content;
}

@keyframes check-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-check {
  animation: check-pop 0.3s ease-out;
}

.grid-borders > * {
  border-right: 1px solid var(--grid-border);
  border-bottom: 1px solid var(--grid-border);
}
.grid-borders > *:nth-child(3n) {
  border-right: none;
}
.grid-borders > *:nth-child(n + 7) {
  border-bottom: none;
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}
